.login-wrapper{
    background: none;
    .login{
            margin: 0 auto;
            &:after{
                display: none;
            }
            .login-group .btn{
                margin-top:20px;
                }
          }
}
