<clr-main-container>
  <clr-header>
    <button class="navbar-toggler hidden-md-up bars" type="button" (click)="toggleClass();">&#9776;</button>
    <div class="branding">
      <a href="#" class="nav-link">
        <span class="clr-icon clr-clarity-logo"></span>
        <span class="title">Clarity</span>
      </a>
    </div>
    <div class="header-actions">
          <a href="#" [routerLink]="['/login']" [ngClass]="{'visible': !InVisible}">Login </a>
          <a href="#" [routerLink]="['/home']" [ngClass]="{'visible': InVisible}" >Welcome {{UserName}} </a>
          <a href="#" [ngClass]="{'visible': InVisible}" class="logout" (click)="onlogout()">Logout</a> 
    </div>
  </clr-header>
  
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <nav class="sidenav" [ngClass]="{'visible': InVisible,'clr-nav-level-1':showNav}">
    <section class="sidenav-content">
      <a class="nav-link" href="#" [routerLink]="['/home']" [class.active]="router.url==='/home' || router.url==='/'">Home</a>
      <a class="nav-link" href="#" [routerLink]="['/about']" [class.active]="router.url==='/about'">About</a>
      <section class="nav-group collapsible">
        <input id="tab2" type="checkbox">
        <label for="tab2">VM</label>
        <ul class="nav-list">
            <li><a class="nav-link" href="#" [routerLink]="['/createVM']" [class.active]="router.url==='/createVM'">Create VM</a></li>
            <li><a class="nav-link" routerlinkactive="active"[routerLink]="['/monitor']" [class.active]="router.url==='/monitor'">Monitor</a></li>
            <li><a class="nav-link" routerlinkactive="active" href="#">Third Link</a></li>
        </ul>
      </section>
    </section>
  </nav>
</div>
</clr-main-container>
