<div class="forgotpw">
    <p>Enter your email address to get the link for password reset</p>
    <form class="login" [formGroup]="forgotPwdfrm" (ngSubmit)="onlogin(forgotPwdfrm.value)">
      <label> Email </label> 
    <input type="email" formControlName="Email" id="email" />
    <div class="button">
        <button type="submit" class="btn btn-primary">Confirm</button>
        <button type="button" class="btn btn-warning" (click)="onCancel()">Cancel</button>
    </div>
    </form>    
</div>

    
    
